<div id='search-repos'>
  <%= form_tag '/repo', remote: true, method: 'get' do %>
    <%= label_tag "github user" %>
    <%= text_field_tag :github_user %>
    <%= label_tag "github repo" %>
    <%= text_field_tag :github_repo %>
    <%= submit_tag "Search" %>
  <% end %> 
</div>

<h1 id="repo-title"><%= @repo.repo_name %></h1>

<div class="gems">
  <h5>Gems</h5>
  <%= render partial: "gemms/gemm", collection: @repo.gemms %>
</div>