<h1>Potential User Profile Page</h1>
<%= @user.login %>
<%= @user.url %>
<%= @user.html_url%>
<%= @user.repos_url%>
<%= @user.gists_url%>
<%= @user.avatar_url%>
<%= @user.public_repos %>
<%= @user.followers%>
<%= @user.following %>
<%= @user.github_id %>
<%= @user.gravatar_id%>
<%= @user.starred_url %>
<%= @user.following_url %>
<%= @user.subscriptions_url%>
<%= @user.organizations_url %>
<%= @user.events_url%>
<%= @user.received_events_url %>
<%= @user.type %>
<%= @user.site_admin%>
<%= @user.public_gists %>
<%= @user.created_profile %>
<%= @user.last_updated_at%>





