<h1>Potential User Profile Page</h1>

<div> Login	<%= @user.login %> </div>
<div> Url		<%= @user.url %> </div>
<div> HTML URL	<%= @user.html_url%> </div>
<div> epos URL	<%= @user.repos_url%> </div>
<div> Gists URL		<%= @user.gists_url%> </div>
<div> Avatar				<%= @user.avatar_url%> </div>
<div> Public Repos <%= @user.public_repos %> </div>
<div> Followers	<%= @user.followers%> </div>
<div> following	 <%= @user.following %> </div>
<div> github_id		<%= @user.github_id %> </div>
<div> gravatar_id	<%= @user.gravatar_id%> </div>
<div> starred_url	<%= @user.starred_url %> </div>
<div> following_url	<%= @user.following_url %> </div> 
<div> subscriptions_url	 <%= @user.subscriptions_url%> </div> 
<div> organizations_url	 <%= @user.organizations_url %> </div>
<div> events_url	<%= @user.events_url%> </div> 
<div> recieved_events_url		<%= @user.received_events_url %> </div> 
<div> type	<%= @user.type %> </div> 
<div> site_admin		<%= @user.site_admin%> </div> 
<div> public_gists	<%= @user.public_gists %> </div>
<div> created_profile		<%= @user.created_profile %> </div> 
<div> last_updated_at		<%= @user.last_updated_at%> </div> 





