<h1>Gem Page</h1>

<div><%= @gemm.name %></div>
<div><%= @gemm.id %></div>
<div><%= @gemm.documentation_url %></div>
<div><%= @gemm.frequency %></div>
<div><%= @gemm.category %></div>
<div><%= @gemm.description %></div>
<div><%= @gemm.color %></div>
<div><%= @gemm.downloads %></div>
<div><%= @gemm.version %></div>
<div><%= @gemm.authors %></div>
<div><%= @gemm.project_url %></div>
<div><%= @gemm.dependencies %></div>
<div><%= @gemm.language %></div>
<div><%= @gemm.cosa %></div>
