<!DOCTYPE html>
<html>
<head>
  <title>Gitsee</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
 
  <%= csrf_meta_tags %>
</head>
<body>
  <!DOCTYPE html>

  <div id="background-header"></div>
  <div id="header">
    <div class="circle"></div>
    <div class="h-left-vertical-line"></div>
    <span id="logo">Git<span>See</span></span>
    <span id="h-filler"></span>

      <div class="h-right-vertical-line"></div>
  
  


  
<!-- end header -->
  <% if current_user %>
    <div class = 'nav_button '>
      <%= link_to 'Profile', user_path(current_user.id) %>
    </div>
    <div class = 'nav_button user'>
      <%= link_to 'Logout', destroy_user_session_path(current_user.id) %>
          
    </div>

    <div class="h-right-vertical-line"></div>

  <% else %>
  <div class="h-right-vertical-line"></div>
    <div class = 'nav_button'>
         
   <span class="login-text"> <a href='https://github.com/login/oauth/authorize?client_id=<%=ENV["CLIENT_ID"]%>'>Log in</a> </span>
   
    </div>
    <div class="h-left-vertical-line"></div>
   
  <% end %>
  </div> <!-- header -->
  <div id="background-sub-header"></div>
  <div class="sub-header">
  </div> <!-- end of subheader -->

  <%= yield %>

  <!-- <div id='main-content'>
  <div id='repo-name'>Repo Name</div>
  </div> -->
</body>
</html>



