<!DOCTYPE html>
<html>
<head>
  <title>Gitsee</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
 
  <%= csrf_meta_tags %>
</head>
<body>
  <!DOCTYPE html>

  <div id="background-header"></div>
  <div id="header">
    <div class="circle"></div>
    <div class="h-left-vertical-line"></div>
    <span id="logo">Git<span>See</span></span>
    <span id="h-filler"></span>
    <!--    this section will change with user -->
    <span id="dynamic-header">
      <div class="h-right-vertical-line"></div>
      <span class="login-text"><a href="#">Log in</a></span>
      <div class="h-right-vertical-line"></div>
      <span class="login-text"><a href="#">Sign up</a></span>
      <div class="h-right-vertical-line"></div>
    </span>
  </div>
  <div id="background-sub-header"></div>
  <div class="sub-header">
  


  
<!-- end header -->
  <% if current_user %>
    <div class = 'nav_button user'>
      <%= link_to 'Profile', user_path(current_user.id) %>
    </div>
    <div class = 'nav_button user'>
      <%= link_to 'Logout', destroy_user_session_path(current_user.id) %>
    </div>
  <% else %>
    <div class = 'nav_button'>
    <a href='https://github.com/login/oauth/authorize?client_id=<%=ENV["CLIENT_ID"]%>'>Login</a>
    </div>
  <% end %>
  </div> <!-- end of subheader -->

  <%= yield %>

  <!-- <div id='main-content'>
  <div id='repo-name'>Repo Name</div>
  </div> -->
</body>
</html>



